{%extends 'jinja_forms.html'%}
{% block content %}

  {%include 'nav.html' %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/post-bg.jpg') }}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ c_course['title'] }}</h1>
              <h2 class="subheading">{{ c_course['subtitle'] }}</h2>
              <span class="meta">Posted by
                on {{ c_course['day_posted'].strftime('%B %d, %Y') }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ c_course['content']|safe }}
          </div>
        </div>
      </div>
    </article>

    <hr>
{% endblock %}